@import "tailwindcss";
@plugin "daisyui";
@import "@heroui/styles";

.banner {
    height: 80vh;
    background: url("../../public/asset/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}